*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: url(ai-generated-8898597.png) no-repeat center center/cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
  color: #162530;
  background: rgba(188, 212, 229, 0.8);
  border: 2px solid #fff;
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3s ease-in-out;
}